<div class="row">
  <div class="col-md-12">
    <h5>Attribute Directive</h5>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [ngStyle]="{'border': '1px solid red'}">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" [ngClass]="{'myBorder': xyz, 'well' : pqr}">
    <input type="button" (click)="otherFun()">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!--<input type="text" sizer [size]="'300px'">-->
    <input type="text" [sizer]="'100px'">
    <input type="text" [sizer]="'400px'">
  </div>
  <app-revised-directive></app-revised-directive>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 *ngIf="shouldShow">Structural Directive</h1><hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <input type="text" *ngIf="shouldShow"> 
    <input type="button" (click)="shouldShow = !shouldShow"/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let mob of mobiles">{{mob}}</li>
    </ul>
  </div>
</div>