<div class="row">
  <div class="col-md-12">
   <input type="text" value="{{nm}}">
  </div>
</div>

<div class="row">
  <div class="col-md-12">
   <input type="text" [value]="nm">
  </div>
</div>

<div class="row">
  <div class="col-md-10">
   <input type="text" 
        [style.border]="brd" 
        [style.borderColor]="clr"  
        [style.background]="clr">
  </div>
   <div class="col-md-2">
   <input type="button" (click)="randomBrd()">
  </div>
</div>
<div class="row">
  <div class="col-md-10" [ngClass]="{well : true}">
    Hello
  </div>
</div>
<div class="row">
  <div class="col-md-10" [ngStyle]="{'border' : '1px solid red'}">
    Hello
  </div>
</div>
<div class="row">
  <div class="col-md-12" >
    <input [type]="myType" value="Okay"/>
  </div>
</div>


