<div class="container">
  <div class="row">
    <div class="col-md-8 lilHght bg-danger ">
    </div>

    <div class="col-md-3 lilHght bg-info lilLft">
    </div>
  </div>

  <div class="row lilTp">
    <div class="col-md-3 lilHght bg-danger">
    </div>
    <div class="col-md-8 lilHght bg-info lilLft">
    </div>
  </div>

  <div class="row">
    <div class="col-md-11">
      <div class="pull-right">
          <input type="text"><input type="button" value="Okay" class="btn btn-primary">
      </div>
    </div>
  </div>
</div>